.hello
{
    align: center;
    text-align: center;
    background-color: paleturquoise;
}
.Aminul
{
    color: rgb(242, 154, 154);
    align-items: center;
    text-align: center;
    font-size: large;
    
}